@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

/*--------------------------------
RESET
---------------------------------*/
* {
  font-family: 'Lato';
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  height: 100%;
  background-color: #000;
}

body {
  overflow-x: hidden;
}

/*--------------------------------
GLOBAL
---------------------------------*/

p {
  color: #767676;
  line-height: 23px;
  font-family: "Nunito", sans-serif;
}

.btn {
  color: #fff;
  padding: 10px 20px;
  font-size: 11px;
  letter-spacing: 3px;
  font-weight: 500;
  background-color: #000;
  border-radius: 0;
  text-align: center;
  text-transform: uppercase;
  border-color: #fff;
}

.btn--opacity {
  animation: opacity 3s;
}

.sect {
  padding: 130px 0;
}
.sect--black {
  background-color: #000;
}

.sect--grey {
  background-color: #ebebeb;
}

.sect--no-bottom {
  padding-bottom: 0;
}

.sect--white-text {
  color: #fff;
}
.col--inbl {
  display: inline-block;
  float: none;
}
.row--center {
  text-align: center;
}
.row--small {
  max-width: 960px;
  margin: 0 auto;
}

.row--margin {
  margin-top: 65px;
}
/*--------------------------------
ANIOMATION
---------------------------------*/
@-webkit-keyframes banner-in {
  0% {
    background-color: rgba(0, 0, 0, 1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@-moz-keyframes banner-in {
  0% {
    background-color: rgba(0, 0, 0, 1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@-o-keyframes banner-in {
  0% {
    background-color: rgba(0, 0, 0, 1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@keyframes banner-in {
  0% {
    background-color: rgba(0, 0, 0, 1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*--------------------------------
BANNER
---------------------------------*/
.banner {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8f95e2d4-bb7d-4146-a0c6-9ec71bc4df16/da7gwz7-0ce9bd38-6cf1-4581-ba52-8319d3db99c4.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzhmOTVlMmQ0LWJiN2QtNDE0Ni1hMGM2LTllYzcxYmM0ZGYxNlwvZGE3Z3d6Ny0wY2U5YmQzOC02Y2YxLTQ1ODEtYmE1Mi04MzE5ZDNkYjk5YzQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Y9ud2yWfipFtzagkZ--rAVZEaXL2s3FMK457WOr4oIM");
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: table;
  width: 100vw;
  height: 100%;
  position: relative;
}

.banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: table;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  animation: banner-in 2s;
}

.banner__container {
  display: table-cell;
  vertical-align: top;
  padding-top: 5vh;
}

.banner__scroll-down {
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -12px;
  cursor: pointer;
  animation: opacity 3s;
}

.banner__title {
  font-size: 56px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: 500;
  animation: opacity 3s;
}

.banner__text {
  text-align:center;
  font-size: 2em;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 18px;
  animation: opacity 3s;
}

/*--------------------------------
TYPE OF COFFEE
---------------------------------*/
.sect--type {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ebebeb;
  border: 8px solid #000;
  border-top: none;
}

.sect--type2 {
  background-image: url("https://wallpapercave.com/wp/wp7868377.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  min-height: 100vh;
  text-align: left;
}

.sect__title {
  margin-top: 0;
  text-transform: uppercase;
  line-height: 40px;
  font-size: 30px;
  margin-bottom: 20px;
  color: #000;
}

.no-margin {
  margin: 35px;
}

.sect__title2 {
  margin-top: 0;
  text-transform: uppercase;
  line-height: 40px;
  font-size: 30px;
  margin-bottom: 20px;
  color: #fff;
  text-align: left;
  padding: 0px;
}

.sect__subtitle {
  margin-bottom: 0;
  color: #000;
  padding: 5px;
}

.sect__subtitle2 {
  margin-bottom: 0;
  color: #fff;
  padding: 5px;
  text-align: left;
}

.coffee {
  padding: 0 25px;
  color: #000;
}

.coffee__name {
  letter-spacing: 1px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
}

.coffee__img {
  width: 90%;
  border-radius: 100px;
}

.coffee__descr {
  margin: 0;
  line-height: 23px;
  color: #000;
}

/*--------------------------------
STORY
---------------------------------*/

.story-img {
  background-image: url("https://wallpapercave.com/wp/wp7868377.jpg");
  height: 0;
  padding-bottom: 52%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1d140b;
}

/*--------------------------------
2 HALF SECTION 
---------------------------------*/
.half-sect__second {
  background-image: url("http://image.ibb.co/c339Yb/section_bg_9.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}

.half {
  width: 50%;
  display: table-cell;
  background-color: #fff;
}

.half-sect__first {
  padding: 150px;
  background-color: #fff;
}

.description__p {
  margin-bottom: 40px;
  color: #fff;
}

.description__title {
  margin-top: 0;
  margin-bottom: 15px;
}

/*--------------------------------
GREAT COFFEE
---------------------------------*/
.sect--great {
  background-image: url("https://st4.depositphotos.com/1532932/26538/i/450/depositphotos_265382642-stock-photo-3d-render-of-neon-frame.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #fff;
  color: #fff;
  min-height: 65vh;
}

/*--------------------------------
FOOTER
---------------------------------*/
.footer {
  display: table;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.footer__half {
  width: 50%;
  display: table-cell;
  padding: 100px 140px;
}

.footer__half-1 {
  background-image: url("https://img1.goodfon.com/wallpaper/nbig/d/d9/art-cvetok-lepestki-iskry.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__half-2 {
  background-color: #000;
}

.footer__big-title {
  margin-top: 0;
  text-transform: uppercase;
  line-height: 40px;
  font-size: 30px;
  margin-bottom: 25px;
  color: #fff;
}

.footer__title {
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  color: #daa37f;
}

.footer__desc {
  color: #d7d7d7;
  margin-bottom: 25px;
}
/*--------------------------------
RESPONSIVE
---------------------------------*/

@media screen and (max-width: 1024px) {
  .sect {
    padding: 100px 0;
  }
  .row--margin {
    margin-top: 55px;
  }
  .banner__title {
    font-size: 54px;
  }
  .half-sect__first {
    padding: 100px;
  }
  .three-img__img {
    padding-bottom: 40%;
  }
  .sect--no-bottom {
    padding-bottom: 0px !important;
  }
  .footer__half {
    padding: 90px 120px;
  }
  .sect-t-footer {
    display: none;
  }
  .footer {
    position: relative;
  }
}

@media screen and (max-width: 991px) {
  .sect {
    padding: 80px 0;
  }
  .banner__title {
    font-size: 50px;
  }
  .row--margin {
    margin-top: 45px;
  }
  .coffee {
    padding: 0 15px;
  }
  .coffe__img {
    width: 100%;
  }
  .half-sect__first {
    padding: 80px;
  }
  .last-articles {
    margin-bottom: 30px;
  }

  .sect__title,
  .description__title,
  .footer__big-title {
    line-height: 38px;
    font-size: 28px;
  }
  .footer__half {
    padding: 60px 90px;
  }
}

@media screen and (max-width: 767px) {
  .banner__title {
    font-size: 48px;
  }
  .three-img {
    height: auto;
  }
  .sect {
    padding: 60px 0;
  }
  .row--margin {
    margin-top: 30px;
  }
  .coffee {
    margin-bottom: 30px;
  }
  .coffee__img {
    width: 35%;
  }
  .coffee__descr,
  .sect__subtitle {
    padding: 0 50px;
  }
  .sect__title,
  .description__title,
  .footer__big-title {
    line-height: 36px;
    font-size: 26px;
  }
  .half-sect__first {
    padding: 50px;
  }
  .article-pre {
    margin-bottom: 15px;
  }
  .footer__half {
    width: 100%;
    display: block;
    padding: 50px 50px;
  }
  .half-sect {
    display: block;
    height: auto;
  }
  .half {
    width: 100%;
    display: block;
  }
  .half-sect__second {
    padding-bottom: 60%;
  }
}

@media screen and (max-width: 480px) {
  .banner__title {
    font-size: 44px;
  }
  .sect {
    padding: 50px 0;
  }
  .sect__title,
  .description__title {
    line-height: 30px;
    font-size: 22px;
    margin-bottom: 15px;
  }
  .sect__subtitle {
    padding: 0;
  }
  .coffee__img {
    width: 65%;
  }
  .coffee__descr,
  .sect__subtitle {
    padding: 0 15px;
  }
  .best--margin {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .row--margin {
    margin-top: 15px;
  }
  .best__img {
    width: 44px;
  }
  .best__title {
    margin-top: 15px;
  }
  .three-img__img {
    padding-bottom: 60%;
    width: 100%;
  }

  .footer__half {
    padding: 35px 35px;
  }
  .footer__desc {
    margin-bottom: 10px;
  }
}